.input {
  margin: 10px;
}

input, button, label {
  margin: 5px;
}

.cell-dark {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

.form-check-label {
  width: 100px;
}

.form-check {
  line-height: 0.8;
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}